<div class="ui search autocomplete-container">
    <div class="ui icon input">
        <input class="prompt" type="text" placeholder="{{placeholder}}" autocomplete="off">
        <i class="search icon"></i>
    </div>
    <div class="results"></div>
</div>
