<div class="ui selection fluid dropdown">
   <input type="hidden" class="core-input-value" />
   <i class="dropdown icon"></i>
   <div class="default text">{{ placeHolder }}</div>
   <div class="menu core-sui-select-option-list">
      {{> suiSelectOptionList}}
   </div>
</div>